.Home{
  display: flex;
  flex-direction: column;
  /*margin-top: 90vh;*/
}

.welcome-text, .wordsmiths, .subheading {
  /*font-family: 'PT Serif', serif;*/
  color: #E2ECF0;
}

.welcome-text{
    font-size: 3em;
    margin-bottom: 4px;
    /*-webkit-text-stroke: 1px #83919f;
    color: #63717f;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

.subheading {
  font-size: 2em;
  margin: 1px 0 70px 0;
}

.top-ranked-header {
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
}

.wordsmiths {
  margin: 40px 0 10px 100px;
  font-size: 1.4em;
}

.vocabulary{
  margin-right: 20px;
}

.home-search input#search{
  width: 450px;
  height: 2.6em;
  background: #E2ECF0;
  border: none;
  font-size: 15pt;
  float: left;
  color: #43515f;
  padding-left: 40px;
  margin-left: 15px;
  /*margin-left: 253px;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.selection-links{
  text-decoration: none;
}

@media only screen and (max-width: 634px) {
.home-search{
  display: none;
}
.welcome-text, .subheading{
    display: none;
}
}
