.Main, .main-load {
  /*margin-top: 5em;*/
  display: flex;
  font-family: 'Fjalla One', sans-serif;
  height: 100vh;
  background: #213050;
  background: -moz-linear-gradient(top, #213050 0%, #C9E7EF 100%);
  background: -webkit-linear-gradient(top, #213050 0%, #C9E7EF 100%);
  background: linear-gradient(to bottom, #213050 0%, #C9E7EF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213050', endColorstr='#C9E7EF', GradientType=0);
  overflow: scroll;
}

.Main {
  align-items: flex-start;
}

.main-load {
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  margin-bottom: 80px;
}

.Main-left {
  margin: 0vh 10vw 5vh 10vw;
}

.Main-right {
  flex-direction: column;
  /*align-content: flex-start;*/
  width: 500px;

}

/*@media only screen (max-width: 900px) {
  .Main {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 200vh;
  }
  .Main-left {
    margin: 3vh 10vw 5vh 5vw;
  }
}*/

@media only screen and (max-width: 900px) {
  .Main {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    height: 200vh;
  }
  .Main-left {
    margin: 1vh 5vw 5vh 5vw;
  }
  .Main-right {
    margin: 3vh 5vw 1vh 5vw;
  }
}
