

.Selection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #21293d;
  background: -moz-linear-gradient(top, #21292e 0%, #21293d 100%);
  background: -webkit-linear-gradient(top, #21292f 0%,#21293d 100%);
  background: linear-gradient(to bottom, #21292f 0%,#21293d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1d38', endColorstr='#21293d',GradientType=0 );
  padding: 2px 5px;
  margin: 4px 5px;
  font-family: 'PT Serif', serif;
  color: #53616f;
  border-radius: 10px;
  border: 2px solid black;
}

.selection-art{
  width: 100px;
  border-radius: 5px;
  border: 2px solid black;
  margin: 5px 1px;
}

.selection-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 10px;
  padding: 0 50px 0 20px;
}

.selection-rank{
  padding: 0 16px 0 4px;
  font-size: 3.4em;
  margin: 10px 0;
}

.selection-name{
  font-size: 2.2em;
  border-bottom: 2px solid black;
  color: #73818f;
  margin: 0 5px;
}

.selection-details {
  margin: 2px 5px;
}
