

.Selection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #070106;
  background: -moz-linear-gradient(top, #070106 0%, #101020 100%);
  background: -webkit-linear-gradient(top, #070106 0%,#101020 100%);
  background: linear-gradient(to bottom, #070106 0%,#101020 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070106', endColorstr='#101020',GradientType=0 );
  padding: 2px 5px;
  margin: 4px 5px;
  font-family: 'PT Serif', serif;
  color: #cee6ed;
  border-radius: 10px;
  border: 2px solid black;
}

.Selection:hover{
  position: relative;
  top: -2px;
  right: 2px;
  background: #272126;
  background: -moz-linear-gradient(top, #070106 0%, #272126 100%);
  background: -webkit-linear-gradient(top, #070106 0%,#272126 100%);
  background: linear-gradient(to bottom, #070106 0%,#272126 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070106', endColorstr='#101020',GradientType=0 );
 }

.selection-art{
  width: 100px;
  border-radius: 5px;
  border: 2px solid black;
  margin: 5px 1px;
}

.selection-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
  padding: 0 10px 0 20px;
}

.selection-rank{
  padding: 0 16px 0 4px;
  font-size: 3.4em;
  margin: 10px 0;
}

.selection-name{
  font-size: 2.2em;
  /*border-bottom: 2px solid black;*/
  color: #73818f;
  margin: 0 5px;
}

.selection-details {
  margin: 2px 5px 1px 300px;
}

.selection-track-num, .selection-name-track{
  font-size: 1.5em;
}
