.App {
  text-align: center;
}

.App-logo {
  height: 2.3em;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*height: 150px;*/
  padding: 15px;
  color: white;
  height: 2.3em;
  background: #1f1d38;
  background: -moz-linear-gradient(top, #1f1d38 0%, #21293d 100%);
  background: -webkit-linear-gradient(top, #1f1d38 0%,#21293d 100%);
  background: linear-gradient(to bottom, #1f1d38 0%,#21293d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1d38', endColorstr='#21293d',GradientType=0 );
}

.App-area-logo {
  display: flex;
  align-items: center;
}

.App-title {
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Merienda One', cursive;
  /*font-family: 'Molle', cursive;*/
  color: #63717f;
}

.App-intro {
  font-size: large;
}

.container-1 input#search{
  width: 250px;
  height: 2.5em;
  background: #D2DCE0;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 40px;
  margin-left: 50%;
  /*margin-left: 253px;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon{
  position: absolute;
  top: .7%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

@media only screen and (min-width: 635px) and (max-width: 900px) {

  .container-1 input#search{
    width: 210px;
    margin-left: 9%;
  }

  .container-1 .icon{
    left: 47.4%;
    z-index: 1;
    color: #4f5b66;
  }

  .container-1 .icon{
    display: none;
  }

}

@media only screen and (max-width: 634px) {
  .App-header {
    padding: 4px 0px;
  }

  .App-title {
    display: none;
  }

  .container-1 input#search{
    width: 210px;
    margin-left: 0%;
    padding-left: 20px;
  }

  .container-1 .icon{
    display: none;
  }

}
